.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-right: 1px solid #CFD8DC;
    
    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 0.25rem;

        img{
            width: 85%;
        }
    }

    .separator{
        border: none;
        border-top: 1px solid #CFD8DC;
    }
    
    .section{
        width: 100%;

        .subtitle{
            padding: 0px;
            font-size: 13px;
            margin: 10px 8px;
            font-family: "Open Sans";
            font-weight: 700;
            color: #5f6d86;
        }
        
        .list-options{
            font-family: 'Inter';
            width: 95%;
            list-style-type: none;
            padding: 0px 0px;
        }
        
        .list-options > li{
            font-size: 13px !important;
            width: 100%;
            cursor: pointer;
            font-size: 17px;
            border-radius: 5px;
            color: #283c50;
            font-weight: 600;
            margin: 5px;
            padding: 10px;
            transition: .3s ease;
            text-align: left;
            font-weight: 500;

            div{
                img{
                    width: 20px;
                }
                span{
                    margin-top: 2px;
                }
            }
            
            .right-arrow{
                width: 10px;
            }
        }

        li:hover{
            background-color: #ECEFF1;
        }

        .active-route{
            background-color: #ECEFF1;
        }
    }
}