<div class="header">
    <div class="buttons-section">
        <i (click)="toggleSidebar()" class="pi pi-bars burger-btn-nav" style="font-size: 2.5rem"></i>
    </div>

    <div class="user-section">
        <div class="img-profile">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        </div>
        <div class="user-info">
            <span class="username">Usuario</span>
            <span class="usertype">Admin</span>
        </div>
    </div>
</div>