.header{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #607d8b91;
    
    .buttons-section{
        width: 70px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        
        label{
            cursor: pointer;
        }
        
        #sidebar{
            width: 200px;
            height: calc(100vh - 58px);
            left: 0px;
            transform: translateX(-100%);
            top: 58px;
            position: absolute;
            transition: transform .4s ease;
        }
        
        #btn-sidebar{
            display: none;
        }
        
        #btn-sidebar:checked + #sidebar{
            transform: translateX(0%);
        }
        
        .burger-btn-nav{
            cursor: pointer;
            color: #78909C;
        }
    }

    .user-section{
        width: 200px;
        padding: 8px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #f3f3f9;
        margin-right: 4%;
        color: #212529;
        font-family: 'Poppins';
        cursor: pointer;

        .user-info{
            margin-left: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .username{
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 2px;
            }

            .usertype{
                color: #878a99;
                font-size: 15px;
            }

            .btn{
                background: none;
                border: none;
                outline: none;
                width: 100%;
                font-size: 14px;
                padding: 0.35rem;
                transition: 0.3s ease;

                &--logout{
                    color: red;
                }

                &--profile{
                    color: black;
                }
            }

            .btn:hover{
                background-color: #89868628;
            }

        }
    }
}

.img-user{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}