<div class="header">
    <div class="buttons-section">
        <i (click)="toggleSidebar()" [ngClass]="sidebarVisible ? 'pi-align-left' : 'pi-arrow-right'" 
        class="pi burger-btn-nav" style="font-size: 1.75rem"></i>
    </div>

    <div class="user-section" (click)="toggleDialog()">
        <div class="img-profile">
            <img alt="Avatar" src="../../../../assets/img/profile-photo-default.png" class="img-user">
        </div>
        <div class="user-info">
            <span class="username">{{userData.nombre}}</span>
            <span class="usertype">{{userData.cargo}}</span>

            <p-dialog [modal]="true" [(visible)]="dialogVisible" styleClass="dialog-info-user" [resizable]="false" [draggable]="false"
            [closable]="false">
                <div class="d-flex w-100 justify-content-center">
                    <img alt="Avatar" src="../../../../assets/img/profile-photo-default.png" class="img-user">
                </div>
                <div class="d-flex flex-column align-items-center w-100 justify-content-center">
                    <span class="username">{{userData.nombre}}</span>
                    <span class="usertype">{{userData.cargo}}</span>
                </div>
                <div class="separator"></div>
                <div class="d-flex w-100 justify-content-center">
                    <button (click)="showForm()" class="btn btn--profile">Perfil</button>
                </div>
                <div class="separator"></div>
                <div class="d-flex w-100">
                    <button class="btn btn--logout" (click)="logout()">Cerrar sesión</button>
                </div>
            </p-dialog>
        </div>
    </div>
</div>

@if (show) {
    <user-form (close)="closeForm($event)" [show]="show" [data]="userData" [title]="titleForm"></user-form>
  }