.users-body{
    padding: 2rem; 
    font-family: "Poppins";   
    
    section{
        padding: 1rem;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    }

}