.side-menu-container{
    font-family: 'Poetsen One';
    // width: 20%;
    height: 100%;
    background-color: #405189;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu-title{
        list-style: none;
        margin-right: (60%);
    }
    .modules-list{
        li{
            color: #abb9e8;
            list-style-type: '- ';
            margin: 4px 0px;
            cursor: pointer;
        }
        li:hover{
            color: #fff;
        }
    }
}