<p-dialog
[(visible)]="show" [modal]="true" [style]="{'width': '50rem'}" [draggable]="false"
(onHide)="closeModal(false)">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-between">
      <span class="title">{{title}}</span>
    </div>
  </ng-template>
  <form [formGroup]="form" class="d-flex py-4 flex-row justify-content-around align-items-start flex-wrap gap-2">
    <div class="d-flex flex-row flex-wrap justify-content-start gap-4 w-auto mb-3">
      <div class="d-flex flex-row flex-wrap justify-content-start align-items-start" style="width: 30%;">
        <label class="label w-100">
          Especialidad
        </label>
        <section class="d-flex flex-row align-items-center gap-1 w-100">
          @if (!addingSpecialism) {
            <p-dropdown [ngStyle]="screenWidth <= 730 ? {'width': '100%'} : {}" formControlName="especialidad" type="text" scrollHeight="150px" [options]="specialismList" optionLabel="descripcion" styleClass="input-dropdown input-dropdown--specialism"></p-dropdown>
          }
          @else {
            <input (keyup)="validators.onlyTextAndSpaces($event)" (keydown)="validators.onlyTextAndSpaces($event)" [formControl]="nueva_especialidad" type="text" class="form-control w-100">
          }
          <button (click)="addingSpecialism && nueva_especialidad.valid ? saveSpecialism() : !addingSpecialism ? addSpecialism() : ''" class="button button--icon" style="color: #3B82F6;">
            <span class="pi" [ngStyle]="addingSpecialism && nueva_especialidad.invalid ? disabledBtn : {}"
            [ngClass]="addingSpecialism ? 'pi-save' : 'pi-plus'"></span>
            @if (screenWidth >= 730 && nueva_especialidad.valid) {
              <tooltip [tooltipText]="addingSpecialism ? 'Guardar especialidad' : 'Agregar especialidad'" [tooltipPosition]="'right'"></tooltip>
            }
          </button>

        </section>
      </div>
      <div class="d-flex flex-column justify-content-start align-items-start" style="width: 30%;">
        <label class="label">Nombre completo</label>
        <input (keyup)="validators.onlyTextAndSpaces($event)" (keydown)="validators.onlyTextAndSpaces($event)" formControlName="nombre_completo" type="text" class="form-control w-100">
      </div>
      <div class="d-flex flex-column justify-content-start align-items-start" style="width: 30%;">
        <label class="label">Cédula</label>
        <input (keyup)="validators.onlyNumberAndPoints($event)" (keydown)="validators.onlyNumberAndPoints($event)" [maxlength]="9" formControlName="cedula" type="text" class="form-control w-100">
      </div>
      <div class="d-flex flex-column justify-content-start align-items-start" style="width: 45%;">
        <label class="label">Teléfono</label>
        <input maxlength="12" (keyup)="validators.onlyNumberAndPoints($event)" (keydown)="validators.onlyNumberAndPoints($event)" formControlName="num_telefono" type="text" class="form-control w-100">
      </div>
      <div class="d-flex flex-column justify-content-start align-items-start" style="width: 45%;">
        <label class="label">Correo
          <span [ngStyle]="form.get('correo')?.errors && form.get('correo')?.touched ? {'display': 'inline'} : {'display': 'none'}" class="no-valid--span"> - El correo es inválido</span>
        </label>
        <input (keyup)="validators.onlyTextEmail($event)" (keydown)="validators.onlyTextEmail($event)" formControlName="correo" type="text" class="form-control w-100">
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="d-flex flex-row justify-content-end w-100 gap-4">
      <button class="button button--cancel" (click)="closeModal(false)">Cancelar</button>
      <button class="button button--save button--blue"
      [ngClass]="form.invalid ? 'btn-disabled' : ''"
      (click)="form.valid ? save() : ''">{{edited ? 'Actualizar' : 'Guardar'}}</button>
    </div>
  </ng-template>
</p-dialog>