<div class="doctors-body">
  
  <section>
    <div class="header">
      <h4>Médicos</h4>
    </div>
    <div class="d-flex my-4 gap-3">
      <p-button
          label="Nuevo médico"
          icon="pi pi-user-plus"
          (onClick)="showForm({}, 'Crear médico')"/>
      <p-button
      class="button--center"
      label="Especialidades"
      icon="pi pi-list"
      (onClick)="showSpecialties()"/>
    </div>
    <p-table [value]="doctorsList" [columns]="columns" [rowHover]="true">
      <ng-template pTemplate="header">
        <tr>
          @for (c of columns; track c) {
            <th [class]="c.textAlign === 'center' ? 'text-center' : c.textAlign === 'right' ? 'text-right' : ''"
            [style]="c.width ? 'min-width: ' + c.width + ';' : ''"
            scope="col">
              {{c.title}}
            </th> 
          }
      </ng-template>

      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr>
          @for (c of columns; track c) {
            @if (c.key == 'actions') {
              <td class="d-flex align-items-center justify-content-center gap-2">
                <button class="button button--icon" (click)="showForm(item, 'Editar médico')">
                  <tooltip [tooltipText]="'Editar médico'" [tooltipPosition]="'left'"></tooltip>
                  <span class="pi pi-user-edit"></span>
                </button>
                <button (click)="deleteDoctor(item.id, $event)" class="button button--icon" pTooltip="Eliminar médico" tooltipPosition="top">
                  <tooltip [tooltipText]="'Eliminar médico'" [tooltipPosition]="'left'"></tooltip>
                  <span class="pi pi-trash"></span>
                </button>
              </td>
            }
            @else {
              <td [ngStyle]="c.key == 'descripcion' ? {'font-weight': '700'} : {}" [ngClass]="c.textAlign === 'center' ? 'text-center' : c.textAlign === 'right' ? 'text-right' : ''">
                {{item[c.key]}}
              </td>
            }
          }
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>

<p-toast></p-toast>

<p-confirmDialog></p-confirmDialog>

@if(showSpecialtiesList){
  <form-specialty [title]="titleSpecialtiesList" [show]="showSpecialtiesList" (close)="closeForm($event)"></form-specialty>
}

@if (showFormDoctor) {
  <form-doctor [data]="dataForm" [title]="titleForm" [show]="showFormDoctor" (close)="closeForm($event)"></form-doctor>
}