.capp-tooltip {
    display: none;
    position: absolute;
    transform: translate(0, 0);
    transform-origin: top left;
    width: max-content;
    max-width: 200px;
    height: max-content;
    background: #37474F;
    padding: 2px 5px;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .15);
    transition: transform .15s ease-in-out;
    z-index: 10;
    color: #fff;
    font-weight: 500;

    &.top {
        bottom: calc(100% + 15px);
        left: 50%;
        transform: translate(-50%, 0);

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 12px solid #37474F;
            z-index: 2;
        }
    
        &::after {
            bottom: -13px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 13px solid rgba(0, 0, 0, 0.065);
            z-index: 1;
        }
    }

    &.left {
        top: 50%;
        right: calc(100% + 15px);
        transform: translate(0, -50%);

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -11px;
            transform: translate(0, -50%);
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 12px solid #37474F;
            z-index: 2;
        }
    
        &::after {
            right: -12px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 13px solid rgba(0, 0, 0, 0.065);
            z-index: 1;
        }
    }

    &.right {
        top: 50%;
        left: calc(100% + 15px);
        transform: translate(0, -50%);

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -11px;
            transform: translate(0, -50%);
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 12px solid #37474F;
            z-index: 2;
        }
    
        &::after {
            left: -12px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 13px solid rgba(0, 0, 0, 0.065);
            z-index: 1;
        }
    }

    &.bottom {
        top: calc(100% + 15px);
        left: 50%;
        transform: translate(-50%, 0);

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -12px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 12px solid #37474F;
            z-index: 2;
        }
    
        &::after {
            top: -13px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 13px solid rgba(0, 0, 0, 0.065);
            z-index: 1;
        }
    }

    .item-tooltip {
        position: relative;
        width: 100% !important;
        margin: 0 !important;
        padding: 0.45rem !important;
        text-align: center;
        color: var(--text-tooltip-color)!important;
        font-family: var(--ff) !important;
        font-size: var(--fs-label) !important;
        font-weight: var(--fw-bold) !important;
        line-height: 1.2;
        white-space: pre-wrap;

        &:last-child {
            margin-bottom: 0;
        }
    }
}