.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    // background: linear-gradient(rgba(255, 239, 156, 0.559), white);
    background-image: url("./../../../../assets/img/foto_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // backdrop-filter: blur(10px);

    h2{
        font-size: 2.5rem;
        font-family: 'Poetsen One';
        // color: #455A64;
        color: #fff;
        text-shadow: 0px 0px 10px #000000;
        letter-spacing: 3px;
    }

    .form-container{
        // min-width: 400px;
        min-width: max-content;
        width: 40%;
        background-color: #fff;
        border-radius: 20px;
        // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.146);
        box-shadow: 0px 0px 20px #b7b7b77b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem 0.75rem;

        .form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            label{
                text-wrap: wrap;
            }

            .username-input, .password-input{
                width: 90%;
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .label{
                    font-family: "Inter";
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 5px;
                    color: #546e7aca;
                }
            }

            .username-input, .password-input{
                .input{
                    border: 1.5px solid #455a648a;
                    border-radius: 2px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 10px;
                    transition: .3s ease;


                    span{
                        border-right: 1px solid #607d8b70;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 12px;
                        width: 14%;
                        color: #455a64;
                    }

                    input{
                        border: none;
                        width: 80%;
                        margin: 5px 0px;
                        color: #546e7acf;
                        font-family: "Kanit";
                    }
                    
                    input:focus{
                        outline: none;
                    }
                }

                .input:focus-within{
                    border-color: #455a64b5;
                    box-shadow: 0px 0px 7px #546e7a81;
                }
            }

            .btn-section{
                width: 100%;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .login-button{
                    width: 80%;
                    padding: 0.5rem;
                    color: #fff;
                    font-weight: 700;
                    letter-spacing: 2px;
                    // background: linear-gradient(to right, #01ae0a, #17e651);
                    background: linear-gradient(to right, var(--main-color), #c652049e);
                    border-radius: 20px;
                    border: none;
                    transition: .3s ease;
                    font-family: "Poppins";
                }   
                
                .login-button:hover{
                    transform: scale(102%);
                    box-shadow: 0px 0px 5px #546e7a72;
                }

                .register-button{
                    width: 50%;
                    margin-top: 5px;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    padding: 0.3rem;
                    color: #01ae0a;
                    font-weight:500;
                    transition: .3s ease;
                }

                .register-button:hover{
                    transform: scale(110%);
                }
            }

            .forgot-pass-option{
                background-color: #fff;
                border: none;
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #1976D2;
                font-weight: 500;
                width: 90%;
                font-family: "Poppins";
                transition: .3s ease;
                font-size: 19px;

                span{
                    font-size: 19px;
                    color: #1976D2;
                }
            }

            .forgot-pass-option:hover{
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
            }
        }
    }
}