<div class="main-container">
    <h2>Iniciar sesión</h2>
    <div class="form-container">
        <div class="form">
            <mat-form-field class="input">
                <mat-label>Usuario o correo</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button (click)="hide = !hide" matSuffix>
                    <mat-icon [fontIcon]="hide ? 'visibility_off': 'visibility'"></mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button class="login-button">Iniciar sesión</button>
        </div>
    </div>
</div>
