<div class="main-container">
    <h2>Bienvenido</h2>
    <div class="form-container">
        <form class="form" [formGroup]="loginForm">
            <div class="username-input">
                <label class="label">Usuario o correo</label>
                <div class="input" #inputText>
                    <span class="pi pi-user"></span>
                    <input type="text" formControlName="username">
                </div>
            </div>
            <div class="password-input">
                <label class="label">Contraseña</label>
                <div class="input" #inputPass>
                    <span (click)="hide = !hide" style="cursor: pointer;" class="pi" [ngClass]="hide ? 'pi-eye-slash' : 'pi-eye'"></span>
                    <input [type]="hide ? 'password' : 'text'" formControlName="password">
                </div>
            </div>
            <div class="btn-section">
                <button class="login-button" (click)="(loginForm.valid) ? login() : ''">Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>
