<p-dialog
[(visible)]="show" [modal]="true" [closeOnEscape]="false" [style]="{'width': 'max-content'}" [draggable]="false"
(onHide)="closeModal(false)">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-between">
      <span class="title">{{title}}</span>
    </div>
  </ng-template>
  <form [formGroup]="form" class="d-flex py-4 flex-column justify-content-around flex-wrap gap-5">
    <div class="d-flex justify-content-start gap-4 align-items-center justify-content-between" style="width: 100%;">
      <label class="label">Horario</label>
      <p-dropdown formControlName="horario" scrollHeight="140px" [ngStyle]="{'width': '100%'}" styleClass="input-dropdown input-dropdown--schedule" [options]="updateForm ? allSchedules : schedulesList" optionLabel="name"></p-dropdown>
    </div>
    <div class="d-flex justify-content-between gap-4 align-items-center">
      <label class="label">Fecha de corte</label>
      <input formControlName="fecha_corte" [max]="dateToday" type="date" class="form-control form-date w-100">
    </div>
    <div class="d-flex justify-content-between gap-4 align-items-center">
      <label class="label">Fecha de pago</label>
      <input formControlName="fecha_pago" [max]="dateToday" type="date" class="form-control form-date w-100">
    </div>
    <div class="d-flex justify-content-between gap-3 align-items-center">
      <label class="label">Monto ($)</label>
      <p-inputNumber formControlName="monto" styleClass="w-100"></p-inputNumber>
      <p-selectButton
      class="select-buttons w-75"
      [options]="typePayment"
      formControlName="solvente"
      optionLabel="name"
      optionValue="id"></p-selectButton>
    </div>
    @if (!(form.get('solvente')?.value)) {
      <div class="d-flex justify-content-between gap-3 align-items-center">
        <label class="label">Restante ($)</label>
        <p-inputNumber formControlName="restante" styleClass="w-100"></p-inputNumber>
      </div>
    }
  </form>
  <ng-template pTemplate="footer">
    <div class="d-flex flex-row justify-content-end w-100 gap-4">
      <button class="button button--cancel" (click)="closeModal(false)">Cancelar</button>
      <button class="button button--save"
      [ngClass]="form.invalid ? 'btn-disabled' : ''"
      (click)="form.valid ? save() : ''">Guardar</button>
    </div>
  </ng-template>
</p-dialog>