<div class="home-body">
  <!-- <div class="d-flex flex-row align-items-center gap-2 mb-4" style="width: max-content;">
    <label class="label">Filtrar por año</label>
    <p-dropdown
    [placeholder]="yearSelected"
    [options]="yearsSelect"
    [(ngModel)]="yearSelected"
    optionLabel="year"></p-dropdown>
  </div> -->

  <div class="d-flex gap-3 mb-3 amount-div">
    <cards style="width: 32%;" 
    [border-color]="'green'"
    [icon]="'dollar'"
    [title]="'Ingresos totales'"
    [value]="(cardsValues.totalAmount[0].total || 0) + '$'"></cards>

    <div class="vertical-separator"></div>

    <cards style="width: 32%;" 
    [border-color]="'#00ACC1'"
    [icon]="'dollar'"
    [title]="'Ingresos mes actual'"
    [value]="(cardsValues.amountCurrentMonth[0].total || 0) + '$'"></cards>

    <cards style="width: 32%;" 
    [border-color]="'#006064'"
    [icon]="'dollar'"
    [title]="'Ingresos de hoy'"
    [value]="(cardsValues.amountToday[0].total || 0) + '$'"></cards>
  </div>

  <div class="separator"></div>

  <div class="d-flex justify-content-between flex-wrap mb-5 mt-3 row-gap-3 offices-div">

    <cards style="width: 32%;"
    [border-color]="'orange'"
    [icon]="'building'"
    [title]="'Consultorios en total'"
    [value]="cardsValues.totalOffices[0].total"></cards>

    <cards style="width: 32%;"
    [border-color]="'blue'"
    [icon]="'money-bill'"
    [title]="'Consultorios alquilados'"
    [value]="cardsValues.totalOfficesInUse[0].total"></cards>

    <cards style="width: 32%;"
    [border-color]="'red'"
    [icon]="'building'"
    [title]="'Consultorios libres'"
    [value]="cardsValues.totalFreeOffices[0].total"></cards>
  </div>

  <section>
    <div class="header">
      <h5>Resumen consultorios alquilados</h5>

      <!-- <div class="d-flex gap-3 align-items-center">
        <label class="label">Filtrar por mes</label>
        <p-dropdown
        [placeholder]="monthSelected"
        [options]="monthsSelect"
        [(ngModel)]="monthSelected"
        optionLabel="name"></p-dropdown>
      </div> -->
    </div>
    <div class="separator"></div>
    <div class="d-flex w-100 justify-content-center my-3">
      @if (!(summaryOfficesData[0].value || summaryOfficesData[1].value || summaryOfficesData[2].value)) {
        <h4 class="my-4">Sin datos</h4>
      }
      @else {
        <ngx-charts-pie-chart
        [results]="summaryOfficesData"
        [legend]="true"
        [legendPosition]="legendPosition"
        [view]="size"
        [legendTitle]="'Infor.'"
        >
        </ngx-charts-pie-chart>
      }
    </div>
    <div class="footer">
      @for (item of summaryOfficesData; track $index) {
        <div class="card-small">
          <span>{{item.name}} - <b>{{item.value}}</b></span>
        </div>
      }
    </div>
  </section>
</div>
