<div class="body">
  <div class="d-flex justify-content-between flex-wrap mb-5">
    <cards style="width: 32%;" 
    [border-color]="'red'"
    [icon]="'dollar'"
    [title]="'Consultorios pagados'"
    [value]="29"></cards>

    <cards style="width: 32%;"
    [border-color]="'orange'"
    [icon]="'info-circle'"
    [title]="'Consultorios pendientes'"
    [value]="9"></cards>

    <cards style="width: 32%;"
    [border-color]="'blue'"
    [icon]="'user'"
    [title]="'Médicos al día'"
    [value]="15"></cards>
  </div>

  <section>
    <div class="header">
      <h4>Historia de la comunidad</h4>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, ratione. Possimus nulla quod corrupti! Sunt quia recusandae sapiente reprehenderit, iste ab, quam in reiciendis atque asperiores porro natus maxime fuga.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi praesentium labore ipsa neque consectetur officia repellat architecto! Maxime architecto dicta pariatur id commodi facilis adipisci temporibus repellendus totam, natus corporis.</p>
  </section>
</div>
