.payment-body{
    padding: 2rem; 
    font-family: "Poppins";   
    padding-bottom: 5rem;
    height: 100%;
    overflow: auto;
    
    section{
        padding: 1rem;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);

        .header{
            height: max-content;
        }
    }

}