<div class="payment-body">
  
  <section>
    <div class="header">
      <h4>Gestión de pagos</h4>
    </div>
    <div class="d-flex flex-row justify-content-between my-3">
      <p-button
        styleClass="btn-main-color"
        label="Nuevo pago"
        icon="pi pi-plus" 
        (onClick)="showPaymentForm(0, 'Agregar nuevo pago')"/>
      <!-- <div class="d-flex flex-row align-items-center gap-2">
        <label>Filtrar por año</label>
        <p-dropdown
        [placeholder]="yearSelected"
        [options]="yearsSelect"
        [(ngModel)]="yearSelected"
        optionLabel="year"></p-dropdown>
      </div> -->
    </div>
    <p-table [value]="paymentsList" [columns]="columns">
      <ng-template pTemplate="header">
        <tr>
          @for (c of columns; track c) {
            <th [class]="c.textAlign === 'center' ? 'text-center' : c.textAlign === 'right' ? 'text-right' : ''"
            [style]="c.width ? 'min-width: ' + c.width + ';' : ''"
            scope="col">
              {{c.title}}
            </th> 
          }
      </ng-template>

      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr>
          @for (c of columns; track c) {
            @if (c.key == 'actions') {
              <td class="d-flex align-items-center justify-content-center gap-2">
                <button class="button button--icon" (click)="showPaymentForm(item, 'Editar pago')">
                  <tooltip [tooltipText]="'Editar pago'" [tooltipPosition]="'left'"></tooltip>
                  <span class="pi pi-pen-to-square">
                  </span>
                </button>
                <button (click)="deletePayment(item.id, item.id_consultorios_medicos, $event)" class="button button--icon" pTooltip="Eliminar médico" tooltipPosition="top">
                  <tooltip [tooltipPosition]="'left'" [tooltipText]="'Eliminar pago'"></tooltip>
                  <span class="pi pi-trash"></span>
                </button>
              </td>
            }
            @else if (c.key == "abono_formatted") {
              <td style="cursor: default;" class="td-tooltip" [ngClass]="c.textAlign === 'center' ? 'text-center' : c.textAlign === 'right' ? 'text-right' : ''">
                @if (item.abono_formatted) {
                  <tooltip [tooltipText]="item.abono_formatted ? 'Restante: $' + item.restante : ''" [tooltipPosition]="'top'"></tooltip>
                }
                <span [ngClass]="!item[c.key] ? 'complete-label' : 'not-complete-label'">{{!item[c.key] ? 'Completo' : 'Abono'}}</span>
              </td>
            }
            @else {
              <td class="td-tooltip" [ngStyle]="c.key == 'condicion_formatted' || c.key == 'nombre_medico' || c.key == 'monto' ? {'font-weight': '700'} : {}" [ngClass]="c.textAlign === 'center' ? 'text-center' : c.textAlign === 'right' ? 'text-right' : ''">
                @if (c.key == 'condicion_formatted') {
                  <tooltip [tooltipText]="'Inicio - ' + item.hora_inicio_formatted + '\nFin: - ' + item.hora_fin_formatted" [tooltipPosition]="paymentsList.length === 1 ? 'left' : (index + 1) === paymentsList.length ? 'top' : 'left'"></tooltip>
                }
                <span>
                  {{item[c.key]}}
                </span>
              </td>
            }
          }
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>

<p-confirmDialog></p-confirmDialog>

<p-toast></p-toast>

@if (showPayForm) {
  <payment-form [data]="dataForm" [title]="titleForm" [show]="showPayForm" (close)="closePaymentForm($event)"></payment-form>
}