<p-dialog
[(visible)]="show" [modal]="true" [style]="{'width': '35rem'}" [draggable]="false"
(onHide)="closeModal(false)">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-between">
      <span class="title">Mantenimientos del consultorio - {{data.num_consultorio}}</span>
    </div>
  </ng-template>
  <form class="d-flex py-4 flex-row justify-content-around align-items-start flex-wrap gap-3">
    <div class="d-flex flex-row flex-wrap justify-content-around gap-4 w-100">
      @for (maintenance of maintenanceList; track maintenance.id) {
        <div [id]="'maintenance_' + maintenance.id" class="animate__animated animate__fadeInDown d-flex flex-row flex-wrap justify-content-between align-items-start row-gap-3 maintenance-div">
          <label class="label d-flex w-100 justify-content-between align-items-center mb-1" style="font-size: 18px;">Mantenimiento
            <button (click)="removeMaintenance(maintenance.id)" class="button button--icon">
              <span class="pi pi-trash"></span>
            </button>
          </label>
          <div class="d-flex flex-column" style="width: 45%;">
            <label>Técnico</label>
            <input (keydown)="validators.onlyTextAndSpaces($event)" (keyup)="validators.onlyTextAndSpaces($event)" [(ngModel)]="maintenance.tecnico" [ngModelOptions]="{'standalone': true}" type="text" class="form-control w-100">
          </div>
          <div class="d-flex flex-column" style="width: 45%;">
            <label>Fecha de mantenimiento</label>
            <input [max]="currentDate" [(ngModel)]="maintenance.ult_fecha_mantenimiento" [ngModelOptions]="{'standalone': true}" type="date" class="form-control w-100">
          </div>
          <div class="d-flex flex-column" style="width: 45%;">
            <label>Precio <b>($)</b></label>
            <input (keydown)="validators.onlyNumberAndPoints($event)" (keyup)="validators.onlyNumberAndPoints($event)" [(ngModel)]="maintenance.precio_mant" [ngModelOptions]="{'standalone': true}" type="text" class="form-control w-100">
          </div>
          <div class="d-flex flex-column" style="width: 45%;">
            <label>Cap. enfriamiento <b>(BTU)</b></label>
            <input (keydown)="validators.onlyNumberAndPoints($event)" (keyup)="validators.onlyNumberAndPoints($event)" [(ngModel)]="maintenance.cap_enf" [ngModelOptions]="{'standalone': true}" type="text" class="form-control w-100">
          </div>
          <div class="d-flex flex-column w-100">
            <label>Observación</label>
            <textarea [(ngModel)]="maintenance.observacion" [ngModelOptions]="{'standalone': true}" class="form-control"></textarea>
          </div>
        </div>
      }
      <button (click)="add()" class="btn-add-specialty">
        <span class="pi pi-plus"></span>Agregar mantenimiento
      </button>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="d-flex flex-row justify-content-end w-100 gap-4">
      <button class="button button--cancel" (click)="closeModal(false)">Cancelar</button>
      <button class="button button--save button--blue"
      [ngClass]="!(listValidator()) ? 'btn-disabled' : ''"
      (click)="listValidator() ? save() : ''">Guardar</button>
    </div>
  </ng-template>
</p-dialog>