@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";

:root{
    --main-color: #fe6603;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f3f3f9;}

.separator{
    width: 100%;
    border: 1px solid #90A4AE;
}

.wrapper-layout{
    --wSidebar: 300px;

    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: 1;

    &--content,
    &--sidebar{
        width: 100%;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow: hidden;
        transition: all .25s ease-in-out;
    }

    &--sidebar{
        position: relative;
        width: var(--wSidebar);
        background: #fff;
        transform: translateX(0);

        &.no-sidebar{
            width: 0;
            transform: translateX(-100%);
        }
    }

    &--content {
        .header {
            height: 60px;
        }

        .router-outlet{
            background-color: #f3f4f6;
            width: 100%;
            height: 100%;
        }
    }

    &.fullscreen {
        .wrapper-layout--content {
            width: 100%;
        }
    }
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &--1c > *{
        width: 100%;
    }

    &--2c > *{
        width: 50%;
    }

    &--3c > *{
        width: calc((100%) / 3);
    }

    &--4c > *{
        width: 25%;
    }

    &--5c > *{
        width: 20%;
    }

    &--6c > *{
        width: calc((100%) / 6);
    }
}

.p-dialog-mask{
    background: #00000039;
    cursor: default;
}

.dialog-info-user{
    background-color: #fff;
    width: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column !important;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;

    .p-dialog-header{
        display: none;
        width: 100%;
        justify-content: flex-end;
    }

    .p-dialog-content{
        padding: 0px;
        width: 100%;
    }

    .separator{
        border: none;
        border-top: 1px solid #90a4ae62;
        margin: 0.2rem 0px;
    }
}

.p-toast{
    .p-toast-icon-close{
        border-radius: 50% !important;
        border-color: #ff575700;
    }

    .p-toast-message.p-toast-message-error{
        background-color: #fff;
    }

    .p-toast-message.p-toast-message-success{
        background-color: #fff;
    }

}


.icon{
    &--green{
        color: green;
    }

    &--red{
        color: red;
    }
}

.p-datatable{
    
    .p-datatable-table{
        border: 1.5px solid rgba(136, 136, 136, 0.329);
    }

    td{
        padding: 0.75rem;
    }
}

.p-dropdown{
    min-width: 120px;
    max-height: 30px;
    ul{
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .p-inputtext{
        padding: 0.25rem 0.5rem;
    }

    .p-dropdown-items{
        padding: 0.5rem 0px;
    }
}

.p-multiselect{
    width: 120px;
    height: 30px;
}

.input-dropdown{
    min-width: 200px;
    min-height: 40px;
    ul{
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .p-inputtext{
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;
    }

    .p-dropdown-items{
        padding: 0.5rem 0px;
        width: 200px;
        max-width: 250px;
    }

    &--specialism{
        min-width: 220px;
        max-width: 220px;

        .p-dropdown-items{
            width: 220px;
        }
    }
}

.p-button{
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 15px;
    background-color: #fff;
    color: #3B82F6;
    transition: 0.3s ease;
    box-shadow: none;

    .p-button-label{
        font-weight: 600;
    }

    .p-button-icon{
        font-size: 1.25rem;
        margin: 0px;
    }
}

.btn-main-color{
    border-color: var(--main-color);
    color: var(--main-color);
    align-items: center;
}

.p-button:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.button{
    background-color: #fff;
    border: none;
    padding: 0.30rem;
    border-radius: 0.25rem;
    transition: .3s ease;
    font-family: "Poppins";

    &--icon{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: transparent;

        span, i{
            font-size: 1.15rem;
        }
    }

    &--cancel{
        border: 1px solid #CFD8DC;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &--save{
        background: var(--main-color);
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &--save:hover{
        background-color: #de610e !important;
    }

    &--blue{
        background-color: #3B82F6;
    }

    &--blue:hover{
        background-color: #1a61d3 !important;
    }
}

.btn-disabled{
    background: #a09f9f !important;
    color: #4d4c4c !important;
    cursor: not-allowed !important;
}

.btn-disabled:hover{
    background: #a09f9f !important;
    color: #4d4c4c !important;
    cursor: not-allowed !important;
}

.button:hover{
    background-color: #bababa82;
}

.p-dialog{
    .title{
        font-size: 18px;
        font-family: "Poppins";
        font-weight: 600;
    }
    .p-button{
        padding: 0px;
        color: black;
        display: flex;
        align-items: center;
    }
}

.form-date{
    width: 200px !important;
    height: 40px;
}

.p-inputnumber{
    height: 40px;

    .p-inputtext{
        max-width: 200px;
    }
}